@import "parameters.scss";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Aside


/*--------------------------------------------------------------
# Aside-filter * Боковой фильтр
--------------------------------------------------------------*/

.aside {

  @include flex-row;
  //align-items: center;
  //justify-content: space-between;
  width: 95%;
  max-width: 340px;
  padding: 20px;
  box-sizing: border-box;
  transition: $basic-transition;
  &__container {
    width: 100%;
  }
  &__title {
    position: relative;
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__sub-title {
    width: max-content;
  }
  &__btn-close {
    //position: absolute;
    //left: -70%;
  }
  &__filter-form {
    width: 100%;
  }
  &--filter {
    background-color: $basic-color-lgray;
  }
  &.active {
    left: 0;
  }
  &__btn-box {
    //position: absolute;
    //top: 70vh;
    //bottom: 0vh;
    //left: 0;
    width: 100%;
    max-width: 340px;
    //padding: 0 20px;
    background-color: $basic-color-lgray;
  }
}
