@import "parameters.scss";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Checkbox
# Radiobutton
# Runners
# Preloader
# Btn

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Checkbox * Кастомный checkbox
--------------------------------------------------------------*/

.checkbox {
  position: relative;
  display: flex;
  width: fit-content;
  padding-left: 25px;
  align-items: center;
  font-size: 15px;
  color: $basic-color-dark;
  box-sizing: border-box;
  &__check {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18px;
    height: 18px;
    margin: auto 0;
    background-image: none;
    border: 2px solid $basic-color-dark;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    &--white {
      border: 2px solid #ffffff;
    }
  }
}

.checkbox__input:checked + .checkbox__check {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M16 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V16C0 16.5304 0.210714 17.0391 0.585786 17.4142C0.960859 17.7893 1.46957 18 2 18H16C16.5304 18 17.0391 17.7893 17.4142 17.4142C17.7893 17.0391 18 16.5304 18 16V2C18 1.46957 17.7893 0.960859 17.4142 0.585786C17.0391 0.210714 16.5304 0 16 0ZM16 2V16H2V2H16ZM7 14L3 10L4.41 8.58L7 11.17L13.59 4.58L15 6' fill='%23001535'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox__input:checked + .checkbox__check--white {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M16 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V16C0 16.5304 0.210714 17.0391 0.585786 17.4142C0.960859 17.7893 1.46957 18 2 18H16C16.5304 18 17.0391 17.7893 17.4142 17.4142C17.7893 17.0391 18 16.5304 18 16V2C18 1.46957 17.7893 0.960859 17.4142 0.585786C17.0391 0.210714 16.5304 0 16 0ZM16 2V16H2V2H16ZM7 14L3 10L4.41 8.58L7 11.17L13.59 4.58L15 6' fill='white'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

/*--------------------------------------------------------------
# Radiobutton * Кастомный radiobutton
--------------------------------------------------------------*/

.radiobutton {
  width: fit-content;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  font-size: 15px;
  input[type="radio"]:checked,
  input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  input[type="radio"]:checked + span,
  input[type="radio"]:not(:checked) + span {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
  }

  input[type="radio"]:checked + span:before,
  input[type="radio"]:not(:checked) + span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 2px solid $basic-color-dark;
    background-color: transparent;
  }

  input[type="radio"]:checked + span:before,
  input[type="radio"]:not(:checked) + span:before {
    border-radius: 100%;
  }

  input[type="radio"]:checked + span:after,
  input[type="radio"]:not(:checked) + span:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
  }

  input[type="radio"]:checked + span:after,
  input[type="radio"]:not(:checked) + span:after {
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $basic-color-dark;
  }

  input[type="radio"]:not(:checked) + span:after {
    opacity: 0;
  }

  input[type="radio"]:checked + span:after {
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# Runners * Бегунки
---------------------------------------------------------------*/

.runner {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  margin: 1.5em 0;
  background-color: $basic-color-lgray;
  &__area-runner {
    position: absolute;
    top: -2px;
    left: 20px;
    right: 40px;
    display: block;
    width: auto;
    height: 8px;
    background-color: $basic-color-blue;
    &::after,
    &::before {
      position: absolute;
      top: -2px;
      display: block;
      width: 3px;
      height: 12px;
      background-color: $basic-color-dark;
      content: '';
    }
    &::after {
      left: 0;
    }
    &::before {
      right: 0;
    }
    &--full {
      left: 0;
      right: 0;
    }
  }
  &--white {
    background-color: #ffffff;
  }
}

/*--------------------------------------------------------------
# Preloader * Прелоадер
---------------------------------------------------------------*/

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  font-size: 3em;
  background: rgba(255,255,255, 0.5);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='150px' height='150px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cg transform='rotate(0 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%23EB0045'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.9166666666666666s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(30 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%23EB0045'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.8333333333333334s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(60 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%23EB0045'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.75s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(90 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%23EB0045'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.6666666666666666s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(120 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%23EB0045'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.5833333333333334s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(150 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%23EB0045'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.5s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(180 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%23EB0045'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.4166666666666667s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(210 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%23EB0045'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.3333333333333333s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(240 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%23EB0045'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.25s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(270 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%23EB0045'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.16666666666666666s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(300 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%23EB0045'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.08333333333333333s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(330 50 50)'%3E%3Crect x='47' y='24' rx='3' ry='6' width='6' height='12' fill='%23EB0045'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='0s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
  svg {
    display: block;
    margin: auto;
    shape-rendering: auto;
    background-color: transparent;
  }
}

/*--------------------------------------------------------------
# Btn * Кнопки
---------------------------------------------------------------*/

/*--------------------------------------------------------------
## Btn-small * Кнопка для мобильных и иконок
---------------------------------------------------------------*/

.btn {
  display: block;
  width: auto;
  height: auto;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: $basic-color-dark;
  background-color: $basic-color-yellow;
  border: 2px solid $basic-color-yellow;
  outline: none;
  transition: $basic-transition;
  box-sizing: border-box;
  &:hover {
    color: #ffffff;
  }
  &--transparent {
    color: $basic-color-blue;
    background-color: transparent;
    border: 2px solid $basic-color-blue;
    &:hover {
      color: #ffffff;
      background-color: $basic-color-blue;
    }
  }
  &--transparent-dark {
    color: $basic-color-dark;
    background-color: transparent;
    border: 2px solid $basic-color-dark;
    &:hover {
      color: $basic-color-dark;
      background-color: $basic-color-yellow;
    }
  }
  &--desktop {
    display: none;
  }
}

.btn-small {
  display: block;
  width: 24px;
  height: 24px;
  font-size: 1px;
  background-color: $basic-color-blue;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
  &:hover,
  &.active {
    position: relative;
    cursor: pointer;
    background-color: $basic-color-yellow;
    .btn-small__link {
      position: absolute;
      top: -20px;
      right: 20px;
      display: block;
      width: max-content;
      padding: 5px;
      font-size: 16px;
      color: $basic-color-dark;
      background: #FFFFFF;
      box-shadow: 2px 2px 10px rgba(0, 21, 53, 0.15);
    }
  }
  &--menu {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12H16V9.6H0V12ZM0 0V2.4H16V0H0ZM0 7.2H16V4.8H0V7.2Z' fill='white'/%3E%3C/svg%3E");
  }
  &--search {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 12.5C7.58123 12.4997 8.8741 12.0541 9.92275 11.234L13.2197 14.531L14.2803 13.4705L10.9833 10.1735C11.8038 9.12475 12.2497 7.83158 12.25 6.5C12.25 3.19175 9.55825 0.5 6.25 0.5C2.94175 0.5 0.25 3.19175 0.25 6.5C0.25 9.80825 2.94175 12.5 6.25 12.5ZM6.25 2C8.73175 2 10.75 4.01825 10.75 6.5C10.75 8.98175 8.73175 11 6.25 11C3.76825 11 1.75 8.98175 1.75 6.5C1.75 4.01825 3.76825 2 6.25 2Z' fill='white'/%3E%3C/svg%3E");
  }
  &--profile {
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.76017 3.8401C2.76017 1.97386 4.13501 0.600098 6.00017 0.600098C7.86425 0.600098 9.24017 1.97386 9.24017 3.8401C9.24017 5.70634 7.86425 7.0801 6.00017 7.0801C4.13501 7.0801 2.76017 5.70634 2.76017 3.8401Z' fill='white'/%3E%3Cpath d='M7.08017 8.77786C8.93021 8.77786 10.5459 9.72826 11.5146 11.1539C10.1344 12.6313 8.17637 13.5601 6.00017 13.5601C3.82397 13.5601 1.86593 12.6313 0.485688 11.1539C1.45445 9.72826 3.06905 8.77786 4.92017 8.77786H7.08017Z' fill='white'/%3E%3C/svg%3E");
  }
  @for $i from 1 through 9 {
    &--tool00#{$i} {
      width: 30px;
      height: 30px;
      background-image: url('../../img/icons/tools/icon_tool-00#{$i}.svg');
    }
  }
  @for $i from 10 through 26 {
    &--tool0#{$i} {
      width: 30px;
      height: 30px;
      background-image: url('../../img/icons/tools/icon_tool-0#{$i}.svg');
    }
  }
}

.btn-accordeon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-bottom: 2px solid $basic-color-dark;
  border-left: 2px solid $basic-color-dark;
  transform: rotateZ(-45deg);
  &.active {
    transform: rotateZ(135deg);
    border-bottom: 2px solid $basic-color-blue;
    border-left: 2px solid $basic-color-blue;
  }
  &--filter {
    width: 9px;
    height: 9px;
    &.active {
      border-bottom: 2px solid $basic-color-dark;
      border-left: 2px solid $basic-color-dark;
    }
  }
}

.btn-slider {
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  border: 4px solid $basic-color-blue;
  background-color: $basic-color-blue;
  &::before {
    position: absolute;
    top: 14px;
    left: 16px;
    display: block;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transform: rotateZ(45deg);
    content: '';
  }
  &:hover {
    cursor: pointer;
    background-color: #ffffff;
    &::before {
      border-bottom: 2px solid $basic-color-blue;
      border-left: 2px solid $basic-color-blue;
    }
  }
  &--next {
    transform: rotateZ(180deg);
  }
}

.btn-icon {
  position: relative;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 0;
  background-color: transparent;
  color: $basic-color-dark;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
  &__count {
    position: absolute;
    top: -8px;
    right: -9px;
    display: block;
    width: 19px;
    height: 19px;
    padding: 3px 0;
    text-align: center;
    font-size: 13px;
    color: $basic-color-dark;
    background-color: $basic-color-yellow;
    border-radius: 50%;
    box-sizing: border-box;
  }
  svg {
    display: block;
    width: 24px;
    height: auto;
    margin: auto;
  }
  path {
    fill: rgb(48,131,255);
  }
  &:hover {
    position: relative;
    .btn-icon__link {
      position: absolute;
      top: calc(100% + 20px);
      left: 20px;
      display: block;
      width: max-content;
      padding: 5px;
      font-size: 16px;
      background: #FFFFFF;
      box-shadow: 2px 2px 10px rgba(0, 21, 53, 0.15);
    }
  }
  &:hover,
  &.active {
    cursor: pointer;
    path {
      fill: rgb(254,198,1);
    }
  }
  &--margin {
    &--10 {
      margin: 0 10px;
    }
  }
  &--count {
    margin-right: 10px;
  }
  &--shedule {
    path {
      fill: rgb(125,133,145);
    }
  }
  &--white {
    path {
      fill: rgb(255,255,255);
    }
  }
  &--compare {
    width: 20px;
    height: 20px;
    background: url('../../img/icons/icon_compare-blue.svg') no-repeat center;
    background-size: contain;
  }
  &--like {
    width: 20px;
    height: 20px;
    background: url('../../img/icons/icon_like-blue.svg') no-repeat center;
    background-size: contain;
  }
  &--basket {
    width: 20px;
    height: 20px;
    background: url('../../img/icons/icon_basket.svg') no-repeat center;
    background-size: contain;
  }
  &--delivery {
    width: 20px;
    height: 20px;
    background: url('../../img/icons/icon_delivery.svg') no-repeat center;
    background-size: contain;
  }
  &--guarantee {
    width: 20px;
    height: 20px;
    background: url('../../img/icons/icon_guarantee.svg') no-repeat center;
    background-size: contain;
  }
  &--rocket {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: url('../../img/icons/icon_rocket.svg') no-repeat center;
    background-size: contain;
  }
  &--info {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: url('../../img/icons/icon_info.svg') no-repeat center;
    background-size: contain;
  }
  &--tools {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    background: url('../../img/icons/icon_tools.svg') no-repeat center;
    background-size: contain;
  }
  &--vote-up {
    width: 20px;
    height: 20px;
    background: url('../../img/icons/icon_vote.svg') no-repeat center;
    background-size: contain;
    &--gray {
      background: url('../../img/icons/icon_vote-g.svg') no-repeat center;
      background-size: contain;
      &:hover {
        background: url('../../img/icons/icon_vote.svg') no-repeat center;
      }
    }
  }
  &--vote-down {
    width: 20px;
    height: 20px;
    background: url('../../img/icons/icon_vote-g.svg') no-repeat center;
    background-size: contain;
    transform: rotateZ(180deg);
    &--gray {
      background: url('../../img/icons/icon_vote-g.svg') no-repeat center;
      background-size: contain;
      &:hover {
        background: url('../../img/icons/icon_vote.svg') no-repeat center;
      }
    }
  }
  &--attention {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: url('../../img/icons/icon_attention.svg') no-repeat center;
    background-size: contain;
  }
  &--question {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: url('../../img/icons/icon_question.svg') no-repeat center;
    background-size: contain;
  }
  &--plus {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: url('../../img/icons/icon_plus.svg') no-repeat center;
    background-size: contain;
  }
  &--minus {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: url('../../img/icons/icon_minus.svg') no-repeat center;
    background-size: contain;
  }
}

.btn-close {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  padding: 11px;
  background-color: $basic-color-blue;
  box-sizing: border-box;
  &::after,
  &::before {
    position: absolute;
    top: 18px;
    left: 10px;
    width: 21px;
    height: 3px;
    transform: rotateZ(45deg);
    background-color: #ffffff;
    content: '';
  }
  &::before {
    transform: rotateZ(-45deg);
  }
}

.btn-box {
  &__btn {
    margin: 1em 0;
  }
}

/*------------------------vote-btn-------------------------------*/

.review-vote {
  @include flex-row;
  justify-content: space-between;
  &__btn {
    @include flex-row;
    justify-content: space-between;
    a {
      @include flex-row;
      justify-content: space-between;
      width: 45px;
      margin-left: 20px;
    }
    &--type-01 {
      a {
        margin-left: 10px;
      }
    }
  }
}


/*-----------------------------Табы------------------------------*/

.tab-box {
  position: relative;
  @include flex-row;
  justify-content: space-between;
  width: 100%;
  min-height: 70px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: $basic-color-blue;
  box-shadow: $basic-shadow;
  box-sizing: border-box;
  &:hover,
  &.active {
    cursor: pointer;
    color: $basic-color-dark;
    background-color: #ffffff;
    .btn-icon--white {
      path {
        fill: $basic-color-dark;
      }
    }
  }
  &__title-link {
    display: block;
    width: max-content;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', 'Arial', sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    box-sizing: border-box;
    /*color: $basic-color-blue;
    &:hover,
    &.active {
      color: $basic-color-yellow;
    }*/
    &--mobile {
      font-size: 1em;
      //color: #ffffff;
      &:hover,
      &.active {
        color: $basic-color-yellow;
      }
    }
    &--card {
      font-size: 1em;
    }
    &--with-icon {
      //padding-left: 10px;
      width: calc(100% - 30px);
    }
    &--with-img {
      //padding-left: 10px;
      width: calc(100% - 50px);
    }
    &--catalog-section {
      font-family: 'Montserrat','Arial',sans-serif;
      font-size: 1em;
      text-transform: none;
    }
    &--full {
      width: 100%;
      font-size: 15px;
      text-align: center;
    }
  }
  &__text {
    padding-left: 10px;
    p {
      margin: 0.2em 0;
    }
    &--gray {
      color: $basic-color-gray;
    }
  }
  &__img {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: $basic-color-lgray;
    box-sizing: border-box;
    &::before {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 20px;
      height: 20px;
      object-fit: contain;
      background: url('../../img/bg/bg_img.svg') no-repeat center;
      background-size: contain;
      content: '';
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      object-fit: contain;
      //background: $basic-color-lgray url('../../img/bg/bg_img.svg') no-repeat center;
      background-color: $basic-color-lgray;
    }
  }
  &__help-link {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-color: $basic-color-blue;
    border-bottom-left-radius: 15px;
    transition: $basic-transition;
    &::after {
      position: absolute;
      top: 1px;
      right: 5px;
      width: 9px;
      height: 16px;
      background: url('../../img/icons/icon_help.svg') no-repeat center;
      background-size: contain;
      content: '';
    }
    &:hover {
      border-bottom-left-radius: 0;
      transition: $basic-transition;
    }
    &--arrow {
      &::after {
        background: url('../../img/icons/icon_arrow.svg') no-repeat center;
      }
    }
  }
  &--mobile {
    width: 100%;
    color: $basic-color-blue;
    background-color: #ffffff;
    border-bottom: 1px solid #EEF0F4;
    box-shadow: none;
  }
  &--gray {
    color: $basic-color-gray;
    background-color: $basic-color-lgray;
    box-shadow: none;
  }
  &--card {
    text-align: center;
  }
  &--white {
    color: $basic-color-gray;
    background-color: #ffffff;
  }
  &--catalog-section {
    min-height: auto;
  }
}


/*-------------------------Счетчики кол-ва----------------------*/

.quantity-box {
  @include flex-row;
  justify-content: space-between;
  width: 86px;
  &__input {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    color: $basic-color-gray;
    background-color: #ffffff;
    border: none;
    box-shadow: 3px 3px 10px rgba(82, 109, 150, 0.2);
    box-sizing: border-box;
    &--small {
      width: 36px;
      height: 36px;
      padding: 5px;
    }
  }
  &__btn {
    cursor: pointer;
    display: block;
    width: 20px;
    height: auto;
    padding: 5px;
    text-align: center;
    font-size: 1.3em;
    color: $basic-color-dark;
    background-color: transparent;
    box-sizing: border-box;
    &--small {
      width: 12px;
    }
  }
  &--small {
    width: 60px;
  }
}

.profile-group {
  display: block;
  &__text {
    display: none;
  }
}

/*-------------------Списки * Кастомные нумераторы--------------*/

.custom-list {
  padding-left: 20px;
  li::marker {
    display: block;
    font-weight: bold;
    color: $basic-color-blue;
  }
  &--disk {
    list-style: disc;
  }
}


/*--------------------------------------------------------------
# sliders * Слайдеры * Галереи
---------------------------------------------------------------*/

.dots {
  @include flex-row;
  justify-content: center;
  &__dot {
    display: block;
    width: 10px;
    height: 10px;
    margin: 1em 3px;
    font-size: 0;
    background-color: #ffffff;
    border-radius: 50%;
    &.active {
      background-color: $basic-color-blue;
    }
    &--gray {
      background-color: $basic-color-lgray;
    }
  }
}

.card-galery {
  @include flex-row;
  width: 100%;
  margin: 1em 0;
  &__galery-slider {
    @include flex-row;
    justify-content: space-around;
    width: calc(100% - 40px);
  }
  p {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500px;
  }
  &__slide {

  }
  &__title {
    display: block;
    width: 100%;
    font-size: 22px;
  }
  &__img {
    display: block;
    width: 90px;
    height: 70px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    &--card-parameters {
      height: auto;
      margin: auto;
      padding: 10px 5px;
      border: 2px solid $basic-color-lgray;
    }
  }
  &__btn {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background-color: $basic-color-blue;
    cursor: pointer;
    &::before {
      position: absolute;
      top: 6px;
      left: 8px;
      display: block;
      width: 6px;
      height: 6px;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotateZ(45deg);
      content: '';
    }
    &:hover {
      background-color: #ffffff;
      &::before {
        border-bottom: 2px solid $basic-color-blue;
        border-left: 2px solid $basic-color-blue;
      }
    }
    &--next {
      &::before {
        left: 4px;
        transform: rotateZ(-135deg);
      }
    }
    &--gray {
      &:hover {
        background-color: $basic-color-lgray;
      }
    }
  }
}

/*--------------------------------------------------------------
# links * Ссылки
---------------------------------------------------------------*/

.link-more {
  position: relative;
  display: block;
  width: max-content;
  padding-right: 25px;
  font-size: 16px;
  font-weight: 500;
  color: $basic-color-blue;
  box-sizing: border-box;
  &::after {
    position: absolute;
    top: 5px;
    right: 0;
    display: block;
    width: 18px;
    height: 11px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='13' viewBox='0 0 20 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.5H18M18 6.5L12.4615 1M18 6.5L12.4615 12' stroke='%233083FF' stroke-width='1.5'/%3E%3C/svg%3E");
    content: '';
    transition: $basic-transition;
  }
  &--white {
    color: #ffffff;
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='13' viewBox='0 0 20 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.5H18M18 6.5L12.4615 1M18 6.5L12.4615 12' stroke='%23ffffff' stroke-width='1.5'/%3E%3C/svg%3E");
    }
  }
  &:hover {
    &::after {
      right: -5px;
    }
  }
}

.link-filter {
  position: relative;
  display: block;
  width: 90%;
  margin: auto;
  padding: 0.5em;
  padding-left: 40px;
  color: $basic-color-blue;
  box-sizing: border-box;
  &::after {
    position: absolute;
    top: 0;
    left: 10px;
    display: block;
    width: 20px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background: url('../../img/icons/icon_update.svg') no-repeat center;
    content: '';
  }
}

/*--------------------------------------------------------------
# Icons * Иконки
---------------------------------------------------------------*/

/*---------------------Стандратные иконки----------------------*/

.icon-box {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.3s ease;
  &--geo {
    background-image: url('../../img/icons/icon_geo.svg');
  }
  &--geo-gray {
    background-image: url('../../img/icons/icon_geo-g.svg');
  }
  &--wapp {
    background-image: url('../../img/icons/icon_wapp-w.svg');
  }
  &--telegram {
    background-image: url('../../img/icons/icon_telegram-w.svg');
  }
  &--viber {
    background-image: url('../../img/icons/icon_viber-w.svg');
  }
  &--vk-gray {
    background-image: url('../../img/icons/icon_vk-g.svg');
  }
  &--phone {
    background-image: url('../../img/icons/icon_phone-w.svg');
  }
  &--phone-gray {
    background-image: url('../../img/icons/icon_phone-g.svg');
  }
  &--mail {
    background-image: url('../../img/icons/icon_mail-w.svg');
  }
  &--mail-gray {
    background-image: url('../../img/icons/icon_mail-g.svg');
  }
  &--clock {
    background-image: url('../../img/icons/icon_clock-w.svg');
  }
  &--clock-gray {
    background-image: url('../../img/icons/icon_clock-g.svg');
  }
  &--service {
    background-image: url('../../img/icons/icon_compressor-4.svg');
  }
  &--by {
    background-image: url('../../img/icons/country/icon_country-by.svg');
  }

}

/*-------------------------Рейтинг---------------------------*/

.rating {
  @include flex-row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  &__star {
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &--gray {
      background-image: url('../../img/icons/icon_star-g.svg');
    }
    &--white {
      background-image: url('../../img/icons/icon_star-w.svg');
    }
    &--active {
      background-image: url('../../img/icons/icon_star-y.svg');
    }
    &--small {
      width: 14px;
      height: 14px;
    }
    /*&:hover {
      background-image: url('../../img/icons/icon_star-y.svg');
    }*/
  }
}

.rating-medal {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('../../img/icons/expert/icon-expert_004.png');
  &--catalog {
    width: 60px;
    height: 60px;
  }
  &--table {
    width: 18px;
    height: 18px;
  }
}

.rating-level {
  @include flex-row;
  justify-content: flex-start;
  width: 100%;
  &__count {
    display: block;
    width: 20px;
    text-align: left;
  }
  &__runner {
    width: calc(100% - 140px);
    margin: 8px 15px 8px 0;
  }
  &__stars {
    display: block;
    width: 17px;
    height: 17px;
    background-repeat: space;
    background-position: left;
    background-size: contain;
    background-image: url('../../img/icons/icon_star-y.svg');
    &--two {
      width: 42px;
    }
    &--three {
      width: 63px;
    }
    &--four {
      width: 84px;
    }
    &--five {
      width: 105px;
    }
  }
}

/*-----------------------# Sorting сортировка------------------------*/

.sorting {
  @include flex-row;
  justify-content: space-between;
  margin: 20px 0;
  font-size: 13px;
  &__title {
    display: block;
  }
  &__purpose {
    position: relative;
    @include flex-row;
    justify-content: space-between;
    width: calc(100% - 120px);
  }
  &__purpose-item,
  &__purpose-select {
    padding: 0.5em 0;
    padding-right: 15px;
    &.active {
      position: relative;
      font-weight: bold;
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 10px;
        height: 100%;
        background: url('../../img/icons/btn_arrow-sort.svg') no-repeat center;
        content: '';
      }
    }
  }
  &__purpose-select {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__fly-box {
    position: absolute;
    top: 36px;
    left: -18px;
    z-index: 7;
    display: none;
    width: 160px;
    padding: 15px 0 15px 20px;
    background-color: #ffffff;
    box-shadow: $basic-shadow;
  }
  &__purpose-list {
    @include flex-column;
    align-items: flex-start;
  }
}

/*----------------------#view виды карточек--------------------------*/

.view {
  position: relative;
  font-size: 13px;
  @include flex-row;
  &__select-icon {
    display: block;
    width: 18px;
    height: 18px;
    margin: 5px;
    &--tile {
      background: url('../../img/icons/icon_view-tile-dark.svg') no-repeat center;
    }
    &--table {
      background: url('../../img/icons/icon_view-table-dark.svg') no-repeat center;
    }
  }
  &__fly-box {
    position: absolute;
    top: 36px;
    left: 0;
    z-index: 7;
    display: none;
    width: auto;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: $basic-shadow;
  }
}

/*------------------------элементы каталога--------------------------*/

.price {
  display: block;
  width: 100%;
  @include font-bold;
  font-size: 30px;
  font-weight: bold;
  &__presence {
    display: block;
    width: max-content;
    @include font-normal;
    font-size: 13px;
    &--catalog-card {
      font-size: 11px;
      //margin: 5px 0;
    }
  }
}

.advantages {
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  &__item {
    @include flex-column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    border-bottom: 2px solid $basic-color-lgray;
    box-sizing: border-box;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  &__icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 10px 0;
    border-radius: 50%;
    background-color: $basic-color-blue;
    padding: 10px;
    box-sizing: border-box;
  }
  &__text {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}

.info-box {
  &__figure {
    position: relative;
    width: 100%;
    max-width: 440px;
    height: 250px;
    background-color: #ffffff;
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      object-fit: cover;
    }
    &::after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 4;
      margin: auto;
      display: block;
      width: 120px;
      height: 90px;
      background: url('../../img/bg/bg_img.svg') no-repeat center;
      background-size: cover;
      opacity: 0.4;
      content: '';
    }
  }
}
