@import "parameters.scss";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Main-slider

--------------------------------------------------------------*/

.main {
  width: 100%;
  margin-top: 68px;
  &--gray {
    background-color: $basic-color-lgray;
  }
}

/*--------------------------------------------------------------
# submenu * Дополнительное меню для блоков
--------------------------------------------------------------*/

.section-menu {
  &--mobile {
    @include flex-row;
    align-items: stretch;
    justify-content: space-between;
  }
  &__tab-box {
    width: max-content;
    margin-bottom: 2em;
  }
}

/*--------------------------------------------------------------
# breadcrumbs * Хлебные крошки
--------------------------------------------------------------*/

.breadcrumbs {
  @include flex-row;
  justify-content: flex-start;
  width: 100%;
  margin: 0.8em 0;
  font-weight: 600;
  &__item {
    display: none;
    width: auto;
    font-size: 1.05em;

    &--active {
      display: block;
    }
  }
  &__separator {
    display: none;
    width: 7px;
    height: 7px;
    margin: 0 10px;
    border-top: 2px solid $basic-color-dark;
    border-right: 2px solid $basic-color-dark;
    transform: rotateZ(45deg);
    &--active {
      display: block;
      transform: rotateZ(-135deg);
    }
  }
}

/*--------------------------------------------------------------
# Main-slider * Главный слайдер
--------------------------------------------------------------*/

.main-slider {
  position: relative;
  width: 100%;
  height: 150px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-filter {
  padding: 1em 0;
  &__tab-box {
    margin: 1em auto;
  }
}

.filter-box {
  &__fieldset {
    @include flex-row;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
  }
  &__runners {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }
  &__slide {
    @include flex-row;
    justify-content: space-between;
    figure {
      display: block;
      width: 60%;
      margin: 0;
    }
    .check-fields {
      width: 37%;
    }
  }
  &__checklist {
    @include flex-row;
  }
  &__checklist-column {
    position: relative;
    @include flex-row;
    width: 100%;
  }
  &__checklist-list {
    display: none;
    width: 100%;
    &.active {
      display: block;
    }
  }
  &__title {
    display: block;
    width: max-content;
    margin: 1em 0;
    padding-right: 14px;
    font-weight: bold;
  }
  &__btn-accordeon {
    position: relative;
  }
  &__btn-box {
    width: 100%;
  }
  &--desktop {
    display: none;
  }
}

.reviews-slider {
  &__slide-type01 {
    margin-bottom: 1.5em;
  }
  &__btn-slider {
    display: none;
  }
}

.slide-type01 {
  @include flex-column;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: $reviews-shadow;
  &__aside {
    display: none;
  }
  &__logo {
    width: 100%;
    height: auto;
    &--full {
      img {
        width: 100%;
      }
    }
  }
  &__title {
    margin: 0.5em 0;
    text-align: left;
    text-transform: none;
    font-size: 1.2em;
  }
}

.projects-slider {
  &__dots {
    margin: 1em 0;
  }
}

.slide-type02 {
  position: relative;
  @include flex-column;
  text-align: center;
  &__date {
    display: block;
    margin: 1em auto;
    font-weight: bold;
    color: $basic-color-gray;
  }
  &__date-title {
    display: block;
    font-size: 56px;
    font-family: 'Montserrat-Bold', 'Arial', serif;
    line-height: 50px;
    color: $basic-color-blue;
  }
  &__title {
    @include font-bold;
    font-size: 1.2em;
    p {
      margin: 0.8em 0;
      text-transform: none;
    }
  }
  &__subtitle {
    @include font-bold;
    display: block;
    width: 100%;
  }
  &__link-more {
    width: max-content;
    margin: 0.5em auto;
  }
  &__fly-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  &--news {
    padding-top: 120px;
  }

}

.images-slider {
  position: relative;
  //left: -70%;
  //display: flex;
  //flex-direction: row;
  //flex-wrap: nowrap;
  //align-items: center;
  //width: 240%;
  //margin-bottom: 1.5em;
  //overflow: hidden;
  &__certificate {
    display: block;
    //width: 80%;
    margin: 0 15px;
    img {
      margin: auto;
      padding: 10px;
      box-sizing: border-box;
      background-color: #ffffff;
      box-shadow: $reviews-shadow;
    }
  }
  &__brand {
    display: block;
    //width: 35%;
    margin: 0;
    img {
      margin: auto;
    }
  }
  .slick-next, .slick-prev {
    display: none;
  }
}

/*--------------------------------------------------------------
# Catalog-product-page * Детальная страница каталога
--------------------------------------------------------------*/

.card-main {
  @include flex-row;
  &__title-box {
    @include flex-row;
    padding-bottom: 1em;
  }
  &__title {
    width: 100%;
    text-align: left;
    font-size: 1.4em;
  }
  &__price-box {
    margin: 1em 0;
  }
}

.title-box {
  &__rating {
    margin-left: 10px;
  }
}

.slider-box {
  @include flex-row;
  flex-direction: column-reverse;
  justify-content: space-between;
  &__column {
    @include flex-row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }
  &__card-galery {
    width: 260px;
  }
  &__rating {
    display: none;
  }
}

.card-galery {
  &__galery-slider {
    position: relative;
  }
  &__text {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    margin-top: 0.7em;
    text-align: center;
  }
}

.price-box {
  position: relative;
  @include flex-row;
  justify-content: space-between;
  &__quantity-box {
    margin: 2em 0;
  }
  &__btn {
    width: 200px;
    box-sizing: border-box;
  }
  &__compare-box {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.compare-box {

  @include flex-row;
  justify-content: space-between;
  width: 70px;
  &__link {
    font-size: 0;
  }
}

.partners-box {
  @include flex-row;
  justify-content: space-between;
  &__btn {
    margin: 1em 0 0 0;
    &--full {
      width: 100%;
    }
    &--half {
      width: 48%;
    }
  }
}

.services-box {
  &__service {
    @include flex-row;
    flex-wrap: nowrap;
    margin: 1em auto;
    font-size: 0.9em;
  }
  &__btn-icon {
    margin-right: 10px;
  }
}

.partners-prices {
  @include flex-row;
  &__price {
    display: block;
    font-size: 16px;
  }
}

.card-parameters {
  padding: 2em 0;
  background-color: #ffffff;
  &__row {
    @include flex-row;
  }
  &__tabs {
    @include flex-row;
    input[type="radio"] {
      display: none;
    }
  }
  &__tab-box {
    &--fly {
      display: none;
    }
  }
  &__tab {
    @include flex-row;
    display: none;
    margin: 2em 0;
    &.active {
      display: flex;
    }
  }
  &__tab-article {
    @include flex-row;
  }
  &__tab-title {
    @include flex-row;
    justify-content: flex-start;
    width: max-content;
    max-width: 85%;
    margin: 0.5em 0;
    margin-right: 1em;
    text-align: left;
    font-size: 17px;
    h4,
    h5 {
      margin: 0.5em 0;
      text-align: left;
      width: calc(100% - 35px);
    }
  }
  &__tab-links {
    display: none;
  }
  &__tab-content {
    padding-left: 0;
    &.active {
      display: block;
    }
    &--column {
      li {
        position: relative;
        z-index: 2;
        @include flex-row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        font-size: 0.8em;
      }
    }
  }
  &__tab-list {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 5px 10px 5px 0;
    width: 50%;
    box-sizing: border-box;
    &::after {
      position: absolute;
      bottom: 10px;
      left: 0;
      z-index: 1;
      display: block;
      width: 98%;
      border: 1px solid $basic-color-lgray;
      content: '';
    }
    span {
      position: relative;
      z-index: 3;
      padding-right: 10px;
      background-color: #ffffff;
    }
  }
  &__tab-figure {
    img {
      width: 700px;
    }
  }
  &__rating {
    margin-right: 10px;
  }
  &__rating-list {
    li {
      display: flex;
    }
  }
  &__rating-medal {
    width: 90px;
    height: 90px;
    margin: 0.5em 0;
  }
  &__estimate {
    margin-right: 10px;
  }
  &__tab-records {
    position: relative;
    z-index: 2;
    @include flex-row;
    width: 48%;
    padding: 5px 0 5px 10px;
    color: $basic-color-gray;
  }
  &__btn-small {
    margin: 5px;
  }
  &__tab-box {
    margin: 0.5em 0;
  }
  &__text {
    display: block;
    margin: 1em 0;
    text-align: center;
  }
  &__questions {
    margin: 1.5em 0;
  }
  &__link-more {
    margin: 1em auto;
    padding: 0;
    text-align: center;
    &::after {
      display: none;
    }
  }
}

.card-upsale {
  margin: 1.5em 0;
  &__section-title {
    font-size: 30px;
  }
  &__tab-box {
    margin: 1em 0;
  }
  &__cards-slider {
    display: block;
    width: 100%;
    overflow-x: scroll;
  }
  &__cards {
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 2700px;
    padding-right: 5%;
  }
  &__catalog-card {
    display: block;
    margin: 1.5em 0;
  }
}

/*------------------------Блок отзывы--------------------------*/

.review {
  padding: 1em;
  border-top: 2px solid $basic-color-lgray;
  border-bottom: 2px solid $basic-color-lgray;
  &__title-box {
    @include flex-row;
    justify-content: space-between;
  }
  &__title {
    display: block;
    text-align: left;
    h6 {
      display: block;
      margin: 0;
      text-align: left;
      text-transform: none;
    }
  }
  &__date {
    font-size: 13px;
    color: $basic-color-gray;
  }
  &__content {
    margin: 0.5em 0;
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-style: italic;
    border-bottom: 2px solid $basic-color-lgray;
    p {
      margin: 0;
    }
  }
  &__vote {
    @include flex-row;
    justify-content: space-between;
  }
  &__vote-btn {
    @include flex-row;
    justify-content: space-between;
    a {
      @include flex-row;
      justify-content: space-between;
      width: 45px;
      margin-left: 20px;
    }
  }
}

.questions {
  &__title {
    font-weight: bold;
  }
  &__answer {
    display: block;
    width: 100%;
    padding-left: 20px;
  }
}

/*---------------------Карточка товара-------------------------*/

.catalog-card {
  position: relative;
  width: 247px;
  min-height: 570px;
  background-color: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 21, 53, 0.25);
  &__row {

  }
  &__column {
    width: 160px;
    margin-left: 10px;
  }
  &__top-part {
    @include flex-row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
    border-bottom: 2px solid $basic-color-lgray;
    &--table {
      justify-content: flex-start;
      padding: 10px;
    }
  }
  &__bottom-part {
    @include flex-row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
    &--table {
      padding: 10px;
      padding-top: 15px;
    }
  }
  &__image {
    display: block;
    width: 90px;
    height: 90px;
    margin-bottom: 1em;
    border: 2px solid $basic-color-lgray;
    box-sizing: border-box;
    &--table {
      width: 100px;
      height: 100px;
    }
  }
  &__rating-box {
    @include flex-row;
    align-items: stretch;
    justify-content: center;
    width: 80px;
    &--table {
      justify-content: flex-start;
      width: 160px;
    }
  }
  &__rating-medal {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }
  &__price {
    width: 120px;
    font-size: 14px;
    &--table {
      @include flex-row;
      justify-content: space-between;
      width: 180px;
    }
  }
  &__icons-box {
    @include flex-row;
    justify-content: space-between;
    width: 50px;
  }
  &__title {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 12px;
    &--table {
      margin: 0.3em 0;
    }
  }
  &__code {
    font-size: 12px;
  }
  &__descriptions {
    &--table {
      display: none;
    }
  }
  &__icons-box {
    &--table {
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column-reverse;
      .btn-icon {
        margin: 5px;
      }
    }
  }
  &__records {
    font-size: 11px;
    line-height: 20px;
    color: $basic-color-gray;
  }
  &__hidden-records {
    display: none;
    font-size: 11px;
    line-height: 20px;
    background-color: #ffffff;
    color: $basic-color-gray;
  }
  &__order-box {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
  }
  &__btn {
    padding: 6px;
    font-size: 12px;
  }
  &__input {
    width: 36px;
    height: 36px;
    font-size: 12px;
    padding: 6px;
  }
  &__basket-box {
    width: 120px;
  }
  &--table {
    width: 320px;
    min-height: 240px;
  }

}

/*---------------------Секция каталога-------------------------*/

.catalog-section {
  position: static;
  padding-bottom: 2em;
  &__container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
  }
  &__aside {
    position: absolute;
    top: 68px;
    left: -100%;
    z-index: 8;
  }
  &__card-section {
    padding: 1em 0;
    background-color: $basic-color-lgray;
  }
  &__tabs {
    position: relative;
    width: 100%;
    padding: 2em 0;
    &::after {
      position: absolute;
      top: 0;
      left: -10%;
      width: 120%;
      height: 2px;
      background-color: $basic-color-lgray;
      content: '';
    }
  }
  &__tab-title {
    display: none;
  }
  &__tab-box {
    margin: 0 0 1em 0;
  }
  &__sorting {
    width: 75%;
  }
  &__view {
    width: 20%;
  }
  &__cards-slider {
    display: block;
    width: 100%;
    overflow-x: scroll;
  }
}

.display-panel {
  @include flex-row;
  justify-content: space-between;
}

/*----------------------Статьи и новости-----------------------*/

.main-project {
  &__title-box {
    text-align: center;
  }
  &__title {
    font-size: 1.85em;
  }
  &__subtitle {
    display: block;
    @include font-bold;
    font-size: 16px;
  }
  &__date {
    display: block;
    margin: 1em auto;
  }
  &__article {
    @include flex-column;
  }
  &__section-description {
    display: block;
  }
}

.project-slider {
  width: 100%;
  &__project-slide {
    padding: 10px;
    box-sizing: border-box;
  }
  .slick-prev, .slick-next {
    display: none;
  }
}

/*---------------------Рекламный блок--------------------------*/

.market-box {
  margin: 1em 0;
  padding: 50px 40px;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
  span {
    text-transform: uppercase;
    @include font-bold;
    font-size: 30px;
    line-height: 132%;
    color: $basic-color-gray;

  }
}
