@import "parameters.scss";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Main-slider

--------------------------------------------------------------*/

.main {
  width: 100%;
  margin-top: 70px;
  &--gray {
    background-color: $basic-color-lgray;
  }
}



/*--------------------------------------------------------------
# breadcrumbs * Хлебные крошки
--------------------------------------------------------------*/

.breadcrumbs {
  @include flex-row;
  justify-content: flex-start;
  width: 100%;
  margin: 0.8em 0;
  font-weight: 600;
  &__item {
    display: none;
    width: auto;
    font-size: 1.05em;

    &--active {
      display: block;
    }
  }
  &__separator {
    display: none;
    width: 7px;
    height: 7px;
    margin: 0 10px;
    border-top: 2px solid $basic-color-dark;
    border-right: 2px solid $basic-color-dark;
    transform: rotateZ(45deg);
    &--active {
      display: block;
      transform: rotateZ(-135deg);
    }
  }
}

/*--------------------------------------------------------------
# Main-slider * Главный слайдер
--------------------------------------------------------------*/

.main-slider {
  position: relative;
  width: 100%;
  height: 150px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-filter {
  padding: 1em 0;
  &__tab-box {
    margin: 1em auto;
  }
}

.filter-box {
  &__runners {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }
  &__slide {
    @include flex-row;
    justify-content: space-between;
    figure {
      display: block;
      width: 60%;
      margin: 0;
    }
    .check-fields {
      width: 37%;
    }
  }
  &__checklist {
    @include flex-row;
  }
  &__checklist-column {
    position: relative;
    @include flex-row;
    width: 100%;
  }
  &__checklist-list {
    display: none;
    &.active {
      display: block;
    }
  }
  &__title {
    display: block;
    width: calc(100% - 20px);
    margin: 1em 0;
    font-weight: bold;
  }
  &__btn-accordeon {
    position: relative;
  }
  &__btn-box {
    width: 100%;
  }
  &--desktop {
    display: none;
  }
}

.reviews-slider {
  &__slide-type01 {
    margin-bottom: 1.5em;
  }
  &__btn-slider {
    display: none;
  }
}

.slide-type01 {
  @include flex-column;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: $reviews-shadow;
  &__aside {
    display: none;
  }
  &__logo {
    width: 100%;
    height: auto;
    &--full {
      img {
        width: 100%;
      }
    }
  }
  &__title {
    margin: 0.5em 0;
    text-align: left;
    text-transform: none;
    font-size: 1.2em;
  }
}

.projects-slider {
  &__dots {
    margin: 1em 0;
  }
}

.slide-type02 {
  @include flex-column;
  text-align: center;
  &__date {
    display: block;
    margin: 1em auto;
    font-weight: bold;
    color: $basic-color-gray;
  }
  &__date-title {
    display: block;
    font-size: 56px;
    font-family: 'Montserrat-Bold', 'Arial', serif;
    line-height: 50px;
    color: $basic-color-blue;
  }
  &__title {
    font-size: 1.2em;
    p {
      margin: 0.8em 0;
      text-transform: none;
    }
  }
  &__link-more {
    width: max-content;
    margin: 0.5em auto;
  }
}

.images-slider {
  position: relative;
  left: -70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 240%;
  margin-bottom: 1.5em;
  overflow: hidden;
  &__certificate {
    display: block;
    width: 80%;
    margin: 0 15px;
    img {
      margin: auto;
      padding: 10px;
      box-sizing: border-box;
      background-color: #ffffff;
      box-shadow: $reviews-shadow;
    }
  }
  &__brand {
    display: block;
    width: 35%;
    margin: 0;
    img {
      margin: auto;
    }
  }
}

/*--------------------------------------------------------------
# Catalog-product-page * Детальная страница каталога
--------------------------------------------------------------*/

.card-main {
  @include flex-row;
  &__title-box {
    @include flex-row;
    padding-bottom: 1em;
  }
  &__title {
    width: 100%;
    text-align: left;
    font-size: 1.4em;
  }
  &__price-box {
    margin: 1em 0;
  }
}

.title-box {
  &__rating {
    margin-left: 10px;
  }
}

.slider-box {
  @include flex-row;
  justify-content: space-between;
  &__card-galery {
    max-width: 280px;
  }
  &__rating {
    display: none;
  }
}

.price-box {
  position: relative;
  @include flex-row;
  justify-content: space-between;
  &__quantity-box {
    margin: 2em 0;
  }
  &__btn {
    width: 200px;
    box-sizing: border-box;
  }
}

.compare-box {
  position: absolute;
  top: 0;
  right: 0;
  @include flex-row;
  justify-content: space-between;
  width: 70px;
  &__link {
    font-size: 0;
  }
}

.partners-box {
  @include flex-row;
  justify-content: space-between;
  &__btn {
    margin: 0.5em 0;
    &--full {
      width: 100%;
    }
    &--half {
      width: 48%;
    }
  }
}

.services-box {
  &__service {
    @include flex-row;
    flex-wrap: nowrap;
    margin: 1em auto;
    font-size: 0.9em;
  }
  &__btn-icon {
    margin-right: 10px;
  }
}

.partners-prices {
  @include flex-row;
  &__price {
    display: block;
    font-size: 16px;
  }
}

.card-parameters {
  padding: 2em 0;
  background-color: #ffffff;
  &__row {
    @include flex-row;
  }
  &__tabs {
    @include flex-row;
  }
  &__tab {
    @include flex-row;
    display: none;
    margin: 2em 0;
    &.active {
      display: flex;
    }
  }
  &__tab-article {
    @include flex-row;
  }
  &__tab-title {
    @include flex-row;
    justify-content: flex-start;
    width: max-content;
    margin: 0.5em 0;
    margin-right: 1em;
    text-align: left;
    font-size: 17px;
    h4,
    h5 {
      margin: 0.5em 0;
    }
  }
  &__tab-content {
    padding-left: 0;
    &.active {
      display: block;
    }
    &--column {
      li {
        position: relative;
        z-index: 2;
        @include flex-row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        font-size: 0.8em;
      }
    }
  }
  &__tab-list {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 5px 10px 5px 0;
    width: 50%;
    box-sizing: border-box;
    &::after {
      position: absolute;
      bottom: 10px;
      left: 0;
      z-index: 1;
      display: block;
      width: 98%;
      border: 1px solid $basic-color-lgray;
      content: '';
    }
    span {
      position: relative;
      z-index: 3;
      padding-right: 10px;
      background-color: #ffffff;
    }
  }
  &__rating {
    margin-right: 10px;
  }
  &__rating-list {
    li {
      display: flex;
    }
  }
  &__rating-medal {
    width: 90px;
    height: 90px;
    margin: 0.5em 0;
  }
  &__estimate {
    margin-right: 10px;
  }
  &__tab-records {
    position: relative;
    z-index: 2;
    @include flex-row;
    width: 48%;
    padding: 5px 0 5px 10px;
    color: $basic-color-gray;
  }
  &__btn-small {
    margin: 5px;
  }
  &__tab-box {
    margin: 0.5em 0;
  }
  &__text {
    display: block;
    margin: 1em 0;
    text-align: center;
  }
}

.card-upsale {
  margin: 1.5em 0;
  &__section-title {
    font-size: 30px;
  }
  &__tab-box {
    margin: 1em 0;
  }
  &__cards-slider {
    display: block;
    width: 100%;
    overflow-x: scroll;
  }
  &__cards {
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 2700px;
    padding-right: 5%;
  }
  &__catalog-card {
    display: block;
    margin: 1.5em 0;
  }
}

/*------------------------Блок отзывы--------------------------*/

.sorting {
  @include flex-row;
  justify-content: space-between;
  margin: 20px 0;
  font-size: 13px;
  &__title {
    display: block;
  }
  &__purpose {
    @include flex-row;
    justify-content: space-between;
    width: calc(100% - 150px);
  }
  &__purpose-item {
    padding-right: 15px;
    &.active {
      position: relative;
      font-weight: bold;
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 10px;
        height: 100%;
        background: url('../../img/icons/btn_arrow-sort.svg') no-repeat center;
        content: '';
      }
    }
  }
}

.review {
  padding: 1em;
  border-top: 2px solid $basic-color-lgray;
  border-bottom: 2px solid $basic-color-lgray;
  &__title-box {
    @include flex-row;
    justify-content: space-between;
  }
  &__title {
    display: block;
    text-align: left;
    h6 {
      display: block;
      margin: 0;
      text-align: left;
      text-transform: none;
    }
  }
  &__date {
    font-size: 13px;
    color: $basic-color-gray;
  }
  &__content {
    margin: 0.5em 0;
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-style: italic;
    border-bottom: 2px solid $basic-color-lgray;
    p {
      margin: 0;
    }
  }
  &__vote {
    @include flex-row;
    justify-content: space-between;
  }
  &__vote-btn {
    @include flex-row;
    justify-content: space-between;
    a {
      @include flex-row;
      justify-content: space-between;
      width: 45px;
      margin-left: 20px;
    }
  }
}

/*---------------------Карточка товара-------------------------*/

.catalog-card {
  width: 247px;
  min-height: 570px;
  background-color: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 21, 53, 0.25);
  &__top-part {
    @include flex-row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
    border-bottom: 2px solid $basic-color-lgray;
  }
  &__bottom-part {
    @include flex-row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
  }
  &__image {
    display: block;
    width: 90px;
    height: 90px;
    margin-bottom: 1em;
    border: 2px solid $basic-color-lgray;
    box-sizing: border-box;
  }
  &__raiting-box {
    @include flex-row;
    align-items: stretch;
    justify-content: center;
    width: 80px;
  }
  &__rating-medal {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }
  &__price {
    width: 120px;
    font-size: 14px;
  }
  &__icons-box {
    @include flex-row;
    justify-content: space-between;
    width: 50px;
  }
  &__title {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 12px;
  }
  &__code {
    font-size: 12px;
  }
  &__records {
    font-size: 11px;
    line-height: 20px;
    color: $basic-color-gray;
  }
  &__hidden-records {
    display: none;
    font-size: 11px;
    line-height: 20px;
    background-color: #ffffff;
    color: $basic-color-gray;
  }
  &__order-box {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
  }
  &__btn {
    padding: 6px;
    font-size: 12px;
  }
  &__input {
    width: 36px;
    height: 36px;
    font-size: 12px;
    padding: 6px;
  }

}
