@import "parameters.scss";



/*============== for landscape 480px ===========================*/
@media screen and (min-width: 480px) {

  /*--------------------------------------------------------------
  # Typography 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 480px
  --------------------------------------------------------------*/

}

/*============== for landscape 576px ===========================*/
@media screen and (min-width: 576px) {

  /*--------------------------------------------------------------
  # Typography 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 576px
  --------------------------------------------------------------*/

}

/*===================================640px====================================*/

@media screen and (min-width: 640px) {

  /*--------------------------------------------------------------
  # Typography 640px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 640px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 640px
  --------------------------------------------------------------*/

  /*---------------------Contacts Контакты-----------------------*/

  .main-contact {
    &__row {
      &--video {
        @include flex-row;
        justify-content: space-between;
      }
    }
    &__video-box {
      width: 49%;
    }
  }

  .contact-box {
    &__phone {
      display: inline-block;
      vertical-align: top;
    }
    &__schedule {
      display: inline-block;
      vertical-align: top;
    }
  }

  /*--------------------faq-form------------------------*/

  .faq-form {
    @include flex-row;
    justify-content: space-between;
    &__sub-title {
      width: 100%;
    }
    &__label {
      width: 210px;
      margin-right: 20px;
      &--question {
        width: 550px;
      }
    }
    &__input {
      margin-bottom: 15px;
      box-shadow: 3px 3px 10px rgba(82, 109, 150, 0.2);
      &--question {
        height: 40px;
        min-height: 0;
      }
    }
    &__btn {
      width: 130px;
      padding: 10px;
      margin: 0;
      margin-top: 14px;
    }
  }

  /*--------------------------------------------------------------
  # Footer 640px
  --------------------------------------------------------------*/

}

@media screen and (min-width: 720px) {

  /*--------------------------------------------------------------
  # Typography 720px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 720px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 720px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 720px
  --------------------------------------------------------------*/

}

/*============== for Tablet 768px ===========================*/
@media screen and (min-width: 768px) {

  /*--------------------------------------------------------------
  # Typography 768px
  --------------------------------------------------------------*/

  .tab-box {
    width: 320px;
    &__title-link {
      font-size: 1.2em;
    }
  }

  /*--------------------------------------------------------------
  # Header 768px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 768px
  --------------------------------------------------------------*/

  .main-slider {
    height: 250px;
  }

  /*--------------------------------------------------------------
  # Footer 768px
  --------------------------------------------------------------*/

}

/*============== for Tablet landscape 920px ===========================*/

@media screen and (min-width: 920px) {

  /*--------------------------------------------------------------
  # Typography 920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 920px
  --------------------------------------------------------------*/

}
