@import "parameters.scss";



/*============== for landscape 480px ===========================*/
@media screen and (min-width: 480px) {

  /*--------------------------------------------------------------
  # Typography 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 480px
  --------------------------------------------------------------*/

}

/*============== for landscape 576px ===========================*/
@media screen and (min-width: 576px) {

  /*--------------------------------------------------------------
  # Typography 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 576px
  --------------------------------------------------------------*/

}

/*===================================640px====================================*/

@media screen and (min-width: 640px) {
  /*--------------------------------------------------------------
  # Typography 640px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 640px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 640px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 640px
  --------------------------------------------------------------*/

}

@media screen and (min-width: 720px) {

  /*--------------------------------------------------------------
  # Typography 720px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 720px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 720px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 720px
  --------------------------------------------------------------*/

}

/*============== for Tablet 768px ===========================*/
@media screen and (min-width: 768px) {

  /*--------------------------------------------------------------
  # Typography 768px
  --------------------------------------------------------------*/

  .tab-box {
    width: 320px;
    &__title-link {
      font-size: 1.2em;
    }
  }

  /*--------------------------------------------------------------
  # Header 768px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 768px
  --------------------------------------------------------------*/

  .main-slider {
    height: 250px;
  }

  /*--------------------------------------------------------------
  # Footer 768px
  --------------------------------------------------------------*/

}

/*============== for Tablet landscape 920px ===========================*/

@media screen and (min-width: 920px) {

  /*--------------------------------------------------------------
  # Typography 920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 920px
  --------------------------------------------------------------*/

}
