@import "parameters.scss";


/*============== for PC(desktop) 1440px ===========================*/
@media screen and (min-width: 1440px) {

  /*--------------------------------------------------------------
  # Typography 1440px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1440px
  --------------------------------------------------------------*/


  /*--------------------------------------------------------------
  # Content 1440px
  --------------------------------------------------------------*/

  .slide-type01 {
    font-size: 0.9em;
    &__title {
    }
    &__bside {
      p {
        max-height: 6em;
      }
    }
  }

  /*------------------------Сервис-центр * Catalog-service------------------*/

  .catalog-service {
    &__tabs {
      justify-content: space-between;
      max-width: 1300px;
    }

  }

  .catalog-form {
    @include flex-row;
    justify-content: space-between;
    &__radiobutton {
      width: 100%;
    }
    &__label {
      width: 70%;
      max-width: 430px;
      margin-left: 30px;
    }
    &__btn {
      width: 30%;
      max-width: 150px;
    }
  }



  /*--------------------------------------------------------------
  # Footer 1440px
  --------------------------------------------------------------*/

}

/*============== for PC( HD ) 1600px ===========================*/
@media screen and (min-width: 1600px) {

  /*--------------------------------------------------------------
  # Typography 1600px
  --------------------------------------------------------------*/

  .container {
    max-width: 1400px;
  }

  /*--------------------------------------------------------------
  # Header 1600px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 1600px
  --------------------------------------------------------------*/

  /*------------------------Сервис-центр * Catalog-service------------------*/

  .catalog-table {
    &__body {
      height: 634px;
    }
  }


  /*--------------------------------------------------------------
  # Footer 1600px
  --------------------------------------------------------------*/

}

/*============== for PC( FullHD ) 1920px ===========================*/
@media screen and (min-width: 1920px) {

  /*--------------------------------------------------------------
  # Typography 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1920px
  --------------------------------------------------------------*/

}
