@import "parameters.scss";

/*============== for PC(notebook) 1280px ===========================*/
@media screen and (min-width: 1280px) {

  /*--------------------------------------------------------------
  # Typography 1280px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1280px
  --------------------------------------------------------------*/
  .header {
    &-middle {
      &__contacts-box {
        max-width: 640px;
      }
    }
    &-bottom {
      &__profile-box {
        width: 25%;
      }
      &__basket-box {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .basket-sum {
          display: block;
          margin-left: 5px;
          font-size: 0.8em;
          color: #ffffff;
        }
      }
    }
  }

  .main-menu {
    &__vl {
      display: block;
      width: 1px;
      height: 1.2em;
      margin: 0 5px;
      background-color: $basic-color-gray;
    }
  }

  .profile-box {
    &__btn-icon {
    }
    &__vl {
      display: block;
      width: 1px;
      height: auto;
      margin: 0 5px;
      background-color: #ffffff;
    }
  }

  .search-box {
    background-color: #ffffff;
    &__search-form {
      width: 95%;
    }
  }

  .search-form {
    &__label {
      box-shadow: none;
    }
  }

  .logo-box {
    h1 {
      font-size: 1em;
    }
  }

  .contacts-box {
    &__item {
      font-size: 1em;
    }
  }

  .profile-group {
    &__text {
      font-size: 1em;
      font-weight: bold;
    }
  }



  /*--------------------------------------------------------------
  # Content 1280px
  --------------------------------------------------------------*/

  .slide-type01 {
    font-size: 0.85em;
    &__title {
      font-size: 1em;
    }
    &__bside {
      p {
        max-height: 6em;
      }
    }
  }

  .slide-type02 {
    &__bside {
      padding: 0 5em;
    }
    &__logo {
      position: relative;
      width: 230px;
      height: 230px;
    }
    &__date {
      margin: auto;
      &--news {
        margin: 0;
      }
    }
  }

  /*-------------------Catalog * Каталог--------------------------*/

  .catalog-card {
    position: relative;
    &__top-part {
      &--table {
        position: relative;
        width: calc(100% - 250px);
        padding: 20px;
        padding-left: 240px;
      }
    }
    &__bottom-part {
      &--table {

        width: 250px;
        padding: 20px;
      }
    }
    &__column {
      width: 100%;
    }
    &__image {
      &--table {
        position: absolute;
        top: 20px;
        left: 120px;
        width: 112px;
        height: 112px;
        padding: 10px;
      }
    }
    &__rating-box {
      &--table {
        position: absolute;
        top: 30px;
        left: 20px;
        width: 80px;
      }
    }
    &__order-box {
      &--table {
        margin-bottom: 0;
      }
    }
    &__icons-box {
      &--table {
        position: absolute;
        right: 20px;
        top: 50%;
        bottom: 0;
      }
    }
    &__price {
      &--table {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
      }
    }
  }

  .rating-medal {
    &--table {
      width: 78px;
      height: 78px;
    }
  }

  /*------------------- Каталог детальная страница---------------*/

  .card-parameters {
    &__tab-form {

    }
    /*
    &__tab-title {
      display: none;
    }
    */
    &__tab-links {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 45%;
      max-width: 270px;
    }
    &__tab-link {
      margin: .5em 0.5em .5em 0;
      text-align: left;
      font-size: 17px;
      &.active {
        color: $basic-color-blue;
      }
    }
    &__tab-content {
      position: relative;
    }
    &__sorting {
      position: absolute;
      top: -48px;
      right: 0;
    }
  }

  /*------------------Блоки и элементы---------------------------*/

  .review {
    @include flex-row;
    justify-content: space-between;
    align-items: flex-start;
    &__title-box {
      flex-direction: column;
      width: 18%;
    }
    &__date {
      display: block;
      margin: 5px 0;
    }
    &__content {
      width: 50%;
      margin: 0;
      padding-bottom: 0;
      border-bottom: none;

    }
    &__vote {
      justify-content: flex-end;
      align-self: baseline;
      width: 28%;
    }
    &__vote-btn {
      margin-top: 1em;
    }
  }

  .market-box {
    margin: 10px;
    background-color: $basic-color-lgray
  }

  /*------------------------------Формы--------------------------*/

  .tab-form {
    @include flex-row;
    justify-content: space-between;
    &__input {
      width: calc(100% - 190px);
    }
    &__btn {
      width: 170px;
    }
  }




  /*--------------------------------------------------------------
  # Footer 1280px
  --------------------------------------------------------------*/

}
