@import "parameters.scss";



/*============== for landscape 480px ===========================*/
@media screen and (min-width: 480px) {

  /*--------------------------------------------------------------
  # Typography 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 480px
  --------------------------------------------------------------*/

}

/*============== for landscape 576px ===========================*/
@media screen and (min-width: 576px) {

  /*--------------------------------------------------------------
  # Typography 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 576px
  --------------------------------------------------------------*/

}

/*===================================640px====================================*/

@media screen and (min-width: 640px) {
  /*--------------------------------------------------------------
  # Typography 640px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 640px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 640px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 640px
  --------------------------------------------------------------*/

}

@media screen and (min-width: 720px) {

  /*--------------------------------------------------------------
  # Typography 720px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 720px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 720px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 720px
  --------------------------------------------------------------*/

}

/*============== for Tablet 768px ===========================*/
@media screen and (min-width: 768px) {

  /*--------------------------------------------------------------
  # Typography 768px
  --------------------------------------------------------------*/

  .tab-box {
    width: 320px;
    &__title-link {
      font-size: 1.2em;
    }
  }

  /*--------------------------------------------------------------
  # Header 768px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 768px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 768px
  --------------------------------------------------------------*/

}

/*============== for Tablet landscape 920px ===========================*/

@media screen and (min-width: 920px) {

  /*--------------------------------------------------------------
  # Typography 920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 920px
  --------------------------------------------------------------*/

}

/*============== for Tablet landscape 1024px ===========================*/
@media screen and (min-width: 1024px) {

  /*--------------------------------------------------------------
  # Typography 1024px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1024px
  --------------------------------------------------------------*/

  .header {
    &-top {
      position: relative;
      top: 0;
      left: 0;
      z-index: 3;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid $basic-color-lgray;
      box-shadow: none;
      &::after {
        position: absolute;
        top: 100%;
        left: -50%;
        display: block;
        width: 200%;
        height: 1px;
        background-color: $basic-color-lgray;
        content: '';
      }
      &__navigation-box {
        padding: 0;
      }
      &__tab-box {
        display: none;
      }
    }
    &-mobile {
      &__btn-small,
      &__btn-icon {
        display: none;
      }
    }
    &-middle {
      padding: 5px 0;
      &__contacts-box {
        position: relative;
        top: 0;
        left: 0;
        max-width: 550px;
      }
    }
    &-bottom {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      &__tab-box {
        display: flex;
        width: 25%;
        max-width: 240px;
        font-size: 0.7em;
      }
      &__search-box {
        position: relative;
        top: 0;
        left: 0;
        width: 30%;
        max-width: 450px;
      }
      &__profile-box {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 20%;
        max-width: 350px;
        background-color: $basic-color-blue;
        .btn-icon {
          margin: 13px 10px;
        }
        path {
          fill: #ffffff;
        }
      }
      &__basket-box {
        display: flex;
        .basket-sum {
          display: none;
        }
      }
    }
  }

  .contacts-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    box-shadow: none;
    &__item {
      margin-right: 10px;
    }
    &__btn-icon {
      path {
        fill: rgb(48, 131, 255);
      }
    }
  }

  .shedule {
    width: auto;
    padding: 5px 0;
    font-size: 0.9em;
    background-color: #ffffff;
    border: none;
    &__text {
      p {
        display: inline-block;
      }
    }
  }

  .profile-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__text {
      display: block;
      margin-left: 5px;
      font-size: 0.85em;
    }
  }

  .main-menu {
    flex-direction: row;
    align-items: center;
    padding: 0;
    font-size: 0.75em;
    color: $basic-color-gray;
    &__parent {
      padding: 27px 0;
      > a {
        padding: 0 5px;
        border-bottom: 1px solid #ffffff;
      }
      &:hover {
        .has-childs {
          position: absolute;
          top: 100%;
          left: 0;
          display: block;
          padding: 10px;
          background-color: #ffffff;
          box-shadow: $basic-shadow;
          li {
            margin: 5px 0;
            color: $basic-color-gray;
            &:hover {
              color: $basic-color-blue;
            }
          }
        }
      }
      &:hover,
      &.active {
        > a {
          color: $basic-color-dark;
          border-bottom: 1px solid $basic-color-dark;
        }
      }
    }
    &__has-childs {
      display: none;
    }
    &__btn-accordeon {
      display: none;
    }
  }

  .btn-icon {
    &--shedule {
      path {
        fill: rgb(48,131,255);
      }
    }
  }

  /*--------------------------------------------------------------
  # Content 1024px
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
# calculator-page 1024px
--------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1024px
  --------------------------------------------------------------*/
}

/*============== for PC(notebook) 1280px ===========================*/
@media screen and (min-width: 1280px) {

  /*--------------------------------------------------------------
  # Typography 1280px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1280px
  --------------------------------------------------------------*/
  .header {
    &-middle {
      &__contacts-box {
        max-width: 640px;
      }
    }
    &-bottom {
      &__profile-box {
        width: 25%;
      }
      &__basket-box {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .basket-sum {
          display: block;
          margin-left: 5px;
          font-size: 0.8em;
          color: #ffffff;
        }
      }
    }
  }

  .main-menu {
    &__vl {
      display: block;
      width: 1px;
      height: 1.2em;
      margin: 0 5px;
      background-color: $basic-color-gray;
    }
  }

  .profile-box {
    &__btn-icon {
    }
    &__vl {
      display: block;
      width: 1px;
      height: auto;
      margin: 0 5px;
      background-color: #ffffff;
    }
  }

  .search-box {
    background-color: #ffffff;
    &__search-form {
      width: 95%;
    }
  }

  .search-form {
    &__label {
      box-shadow: none;
    }
  }

  .logo-box {
    h1 {
      font-size: 1em;
    }
  }

  .contacts-box {
    &__item {
      font-size: 1em;
    }
  }

  .profile-group {
    &__text {
      font-size: 1em;
      font-weight: bold;
    }
  }



  /*--------------------------------------------------------------
  # Content 1280px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1280px
  --------------------------------------------------------------*/
}

/*============== for PC(desktop) 1440px ===========================*/
@media screen and (min-width: 1366px) {

  /*--------------------------------------------------------------
  # Typography 1366px
  --------------------------------------------------------------*/
  .container {
    max-width: 1440px;
  }
  /*--------------------------------------------------------------
  # Header 1366px
  --------------------------------------------------------------*/

  .header {
    &-middle {
      &__contacts-box {
      }
    }
    &-bottom {
      &__tab-box {
        max-width: 256px;
        font-size: 0.8em;
      }
      &__profile-box {
      }
      &__basket-box {
        }
      }
    }

    .logo-box {
      h1 {
        font-size: 1.2em;
      }
    }

    .contacts-box {
      &__item {
        color: $basic-color-dark;
      }
    }


  /*--------------------------------------------------------------
  # Content 1366px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1366px
  --------------------------------------------------------------*/
}

/*============== for PC(desktop) 1440px ===========================*/
@media screen and (min-width: 1440px) {

  /*--------------------------------------------------------------
  # Typography 1440px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1440px
  --------------------------------------------------------------*/


  /*--------------------------------------------------------------
  # Content 1440px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1440px
  --------------------------------------------------------------*/

}

/*============== for PC( HD ) 1600px ===========================*/
@media screen and (min-width: 1600px) {

  /*--------------------------------------------------------------
  # Typography 1600px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1600px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 1600px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1600px
  --------------------------------------------------------------*/

}

/*============== for PC( FullHD ) 1920px ===========================*/
@media screen and (min-width: 1920px) {

  /*--------------------------------------------------------------
  # Typography 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1920px
  --------------------------------------------------------------*/

}
