/*--------------------------------------------------------------
# Parameters * Переменные и миксины
--------------------------------------------------------------*/

$basic-color-yellow: #FEC601; //rgb(254, 198, 1)
$basic-color-dark05: rgba(0, 21, 53, 0.5);
$basic-color-dark: #001535; //rgb(0, 21, 53)
$basic-color-gray: #7D8591; // rgb(125, 133, 145)
$basic-color-lgray: #EEF0F4;
$basic-color-blue: #3083FF; // rgb(48, 131, 255)
$basic-color-lblue: #78BBFF;
$basic-color-light: #EEF0F4;
$basic-color-green: #73AF00;
$basic-color-coral: #EB5757;

$basic-shadow: 3px 3px 10px rgba(82, 109, 150, 0.2);
$reviews-shadow: 3px 3px 14px rgba(0, 21, 53, 0.25);
$ghost-shadow: 17px 3px 14px rgba(0, 21, 53, 0.25);

$basic-transition: all 0.5s ease;

@mixin flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/*--------------------------------------------------------------
# Fonts * Подлючение шрифтов
--------------------------------------------------------------*/
/*
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
  src: local('../fonts/Montserrat-Regular.ttf'), local('Montserrat-Regular'),
  url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('../fonts/Montserrat-Bold'), local('Montserrat-Bold'),
  url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
*/
@mixin font-bold {
  font-family: 'Montserrat-Bold', 'Arial', serif;
}

@mixin font-normal {
  font-family: 'Montserrat', 'Arial', sans-serif;
}
