/*--------------------------------------------------------------
# Parameters * Переменные и миксины
--------------------------------------------------------------*/

$basic-color-yellow: #FEC601;
$basic-color-dark05: rgba(0, 21, 53, 0.5);
$basic-color-dark: #001535;
$basic-color-gray: #7D8591;
$basic-color-blue: #3083FF;
$basic-color-lblue: #78BBFF;
$basic-color-light: #EEF0F4;
$basic-color-green: #73AF00;
$basic-color-coral: #EB5757;
