@import "parameters.scss";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Typography
№ Grid

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Fonts * Подлючение шрифтов
--------------------------------------------------------------*/

@font-face {
  font-family: 'Effra';
  src: url('../fonts/Effra.eot');
  src: local('../fonts/Effra'),
  url('../fonts/Effra.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Effra.woff2') format('woff2'),
  url('../fonts/Effra.woff') format('woff'),
  url('../fonts/Effra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Effra-Bold';
  src: url('../fonts/Effra-Bold.eot');
  src: local('../fonts/Effra Bold'), local('Effra-Bold'),
  url('../fonts/Effra-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Effra-Bold.woff2') format('woff2'),
  url('../fonts/Effra-Bold.woff') format('woff'),
  url('../fonts/Effra-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Effra-Medium';
  src: url('../fonts/Effra-Medium.eot');
  src: local('../fonts/Effra Medium'), local('Effra-Medium'),
  url('../fonts/Effra-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Effra-Medium.woff2') format('woff2'),
  url('../fonts/Effra-Medium.woff') format('woff'),
  url('../fonts/Effra-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/*--------------------------------------------------------------
# Typography * Базовые стили шаблона
--------------------------------------------------------------*/

html, body {
  margin: 0 auto;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  color: $basic-color-black;
  font-family: 'Effra-Medium', 'Arial', sans-serif;
  scroll-behavior: smooth;
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-size: 15px;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-family: 'Effra-Bold', 'Arial', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.title {

}

.attention {

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Для Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
